table,
tr,
th,
td {
  border: 5px solid blue;
  padding: 10px;
  color: blue;
}
table {
  margin: 20px;
  margin-top: 50px;
  border-collapse: collapse;
}
body {
  background: linear-gradient(#ffafbd, #ffc3a0);
  background-attachment: fixed;
}
select {
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 8px;
  color: blue;
}
button {
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 8px;
  color: red;
}
